<h1>area privata</h1>
<p>inserisci i dati login</p>

<div class="form-group">
    <label for="input-userid" class="form-label">Userid</label>
    <input type="text" id="input-userid" class="form-control" [(ngModel)]="Userid" />
</div>

<div class="form-group">
    <label for="input-password" class="form-label">Password</label>
    <input type="text" id="input-password" class="form-control" [(ngModel)]="Password" />
</div>

 

<!-- <button type="button" class="btn btn-primary mt-3" (click)="logga()" *ngIf="!successo">Login</button> -->

<div class="alert alert-danger mt-3" role="alert" *ngIf="errore">
    Errore di compilazione del form
</div>

<!-- <div class="alert alert-success mt-3" role="alert" *ngIf="successo">
    Inserimento effettuato con successo, attesa del redirect...
</div> -->

