
/* body {
    margin-top: 50px;
}

.sfondo{
    background-image: url(hogwarts.png) !important;
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: 2000 ;
     
} */


@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url(hogwarts.png);
    background-repeat: no-repeat;
    background-size:cover;
    color: #52462a;
    font-family: "Raleway", sans-serif;
}
img {
    display: block;
    margin: auto;
    width: 80%;
    max-height: 700px;
}
 
logo {
    
    display: block;
    margin: auto;
    width: 80%;
   
    
}
 